# Build directory
[Bb]uild/
doc-build/

# Generated source files
src/common/scm_rev.cpp
.travis.descriptor.json

# Project/editor files
*.swp
.idea/
.vs/
.vscode/
CMakeLists.txt.user*

# *nix related
# Common convention for backup or temporary files
*~

# Visual Studio CMake settings
CMakeSettings.json

# OSX global filetypes
# Created by Finder or Spotlight in directories for various OS functionality (indexing, etc)
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# Windows global filetypes
Thumbs.db

# Python files
*.pyc
