[submodule "inih"]
	path = externals/inih/inih
	url = https://github.com/svn2github/inih
[submodule "boost"]
	path = externals/boost
	url = https://github.com/citra-emu/ext-boost.git
[submodule "nihstro"]
	path = externals/nihstro
	url = https://github.com/neobrain/nihstro.git
