[submodule "boost"]
    path = externals/boost
    url = https://github.com/citra-emu/ext-boost.git
[submodule "nihstro"]
    path = externals/nihstro
    url = https://github.com/neobrain/nihstro.git
[submodule "soundtouch"]
    path = externals/soundtouch
    url = https://github.com/citra-emu/ext-soundtouch.git
[submodule "catch"]
    path = externals/catch
    url = https://github.com/philsquared/Catch.git
[submodule "dynarmic"]
    path = externals/dynarmic
    url = https://github.com/MerryMage/dynarmic.git
[submodule "xbyak"]
    path = externals/xbyak
    url = https://github.com/herumi/xbyak.git
[submodule "cryptopp"]
    path = externals/cryptopp/cryptopp
    url = https://github.com/weidai11/cryptopp.git
[submodule "fmt"]
    path = externals/fmt
    url = https://github.com/fmtlib/fmt.git
[submodule "enet"]
    path = externals/enet
    url = https://github.com/lsalzman/enet.git
[submodule "inih"]
    path = externals/inih/inih
    url = https://github.com/benhoyt/inih.git
[submodule "libressl"]
    path = externals/libressl
    url = https://github.com/citra-emu/ext-libressl-portable.git
[submodule "cubeb"]
    path = externals/cubeb
    url = https://github.com/kinetiknz/cubeb.git
[submodule "discord-rpc"]
    path = externals/discord-rpc
    url = https://github.com/discordapp/discord-rpc.git
[submodule "externals/libzmq"]
	path = externals/libzmq
	url = https://github.com/zeromq/libzmq
[submodule "externals/cppzmq"]
	path = externals/cppzmq
	url = https://github.com/zeromq/cppzmq