[submodule "externals/inih/inih"]
	path = externals/inih/inih
	url = https://github.com/svn2github/inih
[submodule "externals/boost"]
	path = externals/boost
	url = https://github.com/citra-emu/ext-boost.git
[submodule "externals/nihstro"]
	path = externals/nihstro
	url = https://github.com/neobrain/nihstro.git
